@model IEnumerable<CasoPractico1.Abstracciones.ModelosParaUI.CitasDTO>

@{
    ViewBag.Title = "ListarCitas";

<h2>ListarCitas</h2>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeLaPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeLaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDeLaPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeLaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>
    
       
    </tr>
}

</table>
