@model IEnumerable<CasoPractico1.Abstracciones.ModelosParaUI.ServiciosDTO>

@{
    ViewBag.Title = "ListarServiciosCitas";
}

<h2>ListarServiciosCitas</h2>





<p>
    @using (Html.BeginForm("DetallesCitas", "Citas", FormMethod.Get))
    {
        <input type="text" id="buscarIdCita" name="id" placeholder="Ingrese ID" />
		<input type="button" id="btnBuscarCitaAjax" value="Buscar cita" />
    }
</p>

<p>
    @Html.ActionLink("Buscar Citas por Cliente", "CitasPorCliente", "Citas")
</p>



@if (!string.IsNullOrEmpty(ViewBag.MensajeError))
{
    <div class="alert alert-danger">
        @ViewBag.MensajeError
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinica)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.Especialidad == 1)
                {
                    <text>Medicina General</text>
                }
                else if (item.Especialidad == 2)
                {
                    <text>Imagenología</text>
                }
                else if (item.Especialidad == 3)
                {
                    <text>Microbiología</text>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Clinica)
            </td>
            <td>
                @Html.ActionLink("Reservar", "CrearCitas", new { id = item.Id }) |

            </td>
        </tr>
    }

</table>


<div id="detallesCitaModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Detalles de la cita</h4>
			</div>
			<div class="modal-body" id="detallesCitaBody">
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(function () {
			$('#btnBuscarCitaAjax').on('click', function () {
				var id = $('#buscarIdCita').val();
				if (!id) {
					alert('Por favor ingrese un ID de cita válido');
					return;
				}

				$.ajax({
					url: '@Url.Action("DetallesCitasPartial", "Citas")',
					data: { id: id },
					type: 'GET',
					success: function (data) {
						if (data && data.notFound) {
							// Redirigir o mostrar mensaje
							window.location = '@Url.Action("ListarServiciosCitas", "Citas")' + '?mensaje=' + encodeURIComponent(data.message);
							return;
						}

						$('#detallesCitaBody').html(data);
						$('#detallesCitaModal').modal('show');
					},
					error: function () {
						alert('Error al buscar la cita');
					}
				});
			});
		});
	</script>
}
